@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background: #fd8234; /* 스크롤바 색상 */
}
body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /*스크롤바 뒷 배경 색상*/
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
  display: block;
  width: 100%;
}

img {
  display: block;
  width: 100%;
}

.pop {
  font-family: "Poppins", sans-serif;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #fff;
  opacity: 0.6;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
  opacity: 1;
  transition: all 0.3s;
}

.title {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.5px;
}

.txt_box {
  position: absolute;
  width: 100%;
  height: 75px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 15px 15px;
}
.txt_box p:first-child {
  font-size: 12px;
  margin-bottom: 10px;
}
.txt_box p:last-child {
  font-size: 13px;
  font-weight: bold;
}

/* -------------header--------------- */
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: transparent;
  border-bottom: 1px solid #eee;
  z-index: 999;
  font-size: 15px;
}
.header .header_inner {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  justify-content: space-between;
}
.header .header_inner ul li:hover > a {
  color: #fd8234;
  transition: all 0.3s;
}
.header .header_inner .header_left {
  position: relative;
  display: flex;
  align-items: center;
}
.header .header_inner .header_left .logo {
  width: 52px;
  margin-right: 35px;
}
.header .header_inner .header_left .lnb > ul {
  display: flex;
  align-items: center;
  height: 80px;
}
.header .header_inner .header_left .lnb > ul > li {
  height: 100%;
  line-height: 80px;
}
.header .header_inner .header_left .lnb > ul .menu:hover .aside {
  left: 0;
  transition: all 0.3s;
}
.header .header_inner .header_left .lnb > ul .menu .aside {
  position: fixed;
  top: 80px;
  left: -435px;
  background-color: #fff;
  height: calc(100vh - 80px);
  color: #261c13;
  font-family: "Noto Sans KR", sans-serif;
  z-index: 1000;
  font-size: 14px;
  font-weight: 300;
}
.header .header_inner .header_left .lnb > ul .menu .aside li:hover {
  background-color: #efe8da;
  transition: all 0.3s;
}
.header .header_inner .header_left .lnb > ul .menu .aside .top_lnb {
  height: 60px;
  line-height: 60px;
}
.header .header_inner .header_left .lnb > ul .menu .aside .top_lnb ul {
  display: flex;
  align-items: center;
}
.header .header_inner .header_left .lnb > ul .menu .aside .top_lnb ul li {
  width: 50%;
  padding: 0 20px;
  border-bottom: 1px solid #eee;
  margin-right: 0;
}
.header .header_inner .header_left .lnb > ul .menu .aside .bottom_lnb li {
  height: 60px;
  width: 435px;
  padding: 0 20px;
  line-height: 60px;
  margin-right: 0;
  border-bottom: 1px solid #eee;
}
.header .header_inner .header_left .lnb > ul .brand_story {
  position: relative;
}
.header .header_inner .header_left .lnb > ul .brand_story:hover .story_box {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
}
.header .header_inner .header_left .lnb > ul .brand_story .story_box {
  visibility: hidden;
  opacity: 0;
}
.header .header_inner .header_left .lnb > ul .brand_story .story_box ul {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding-left: 184px;
}
.header .header_inner .header_left .lnb > ul li {
  margin-right: 35px;
}
.header .header_inner .header_left .lnb > ul li:last-child {
  margin-right: 0;
}
.header .header_inner .header_right {
  display: flex;
  align-items: center;
}
.header .header_inner .header_right ul {
  display: flex;
  align-items: center;
}
.header .header_inner .header_right ul li {
  margin-right: 35px;
}
.header .header_inner .header_right ul li:last-child {
  margin-right: 0;
}
.header .header_inner .header_right ul li.search_icon {
  position: relative;
  width: 160px;
  height: 25px;
  border-radius: 20px;
  background-color: #fd8234;
}
.header .header_inner .header_right ul li.search_icon input {
  background-color: #fd8234;
  border: none;
  outline: none;
  width: 130px;
  height: 25px;
  border-radius: 20px;
  padding-left: 15px;
}
.header .header_inner .header_right ul li.search_icon button {
  position: absolute;
  top: 5px;
  right: 7px;
  background-color: #fd8234;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}
.header.is-sticky {
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  animation: slideDown 0.35s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
/* -------------content_wrap--------------- */
.content_wrap {
  position: relative;
  width: 1420px;
  height: calc(100vh - 80px);
  margin: 0 auto;
  display: flex;
  margin-top: 80px;
  font-family: "Noto Sans KR", sans-serif;
}
.content_wrap .left_content {
  width: 820px;
  height: auto;
}
.content_wrap .left_content .detail_swiper .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
.content_wrap .left_content .detail_swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}
.content_wrap .left_content .detail_swiper .swiper-pagination .swiper-pagination-bullet:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
.content_wrap .left_content .content_bar {
  position: relative;
  height: 70px;
}
.content_wrap .left_content .content_bar .tab_wrap {
  position: absolute;
  width: 820px;
  height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  bottom: 0;
  background-color: #fff;
  z-index: 10;
}
.content_wrap .left_content .content_bar .tab_wrap .tab_menu {
  height: 100%;
  line-height: 70px;
}
.content_wrap .left_content .content_bar .tab_wrap .tab_menu:hover {
  background-color: #efe8da;
  transition: all 0.3s;
}
.content_wrap .left_content .content_bar .tab_wrap--top {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
}
.content_wrap .left_content .content_bar .tab_wrap--top .tab_bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background: #fd8234;
  transition: left 0.3s ease;
}
.content_wrap .left_content .tab_slide {
  background-color: #f8f8f8;
}
.content_wrap .left_content .tab_slide.info {
  text-align: center;
}
.content_wrap .left_content .tab_slide.info h2 {
  font-size: 28px;
  padding: 70px 45px 30px;
}
.content_wrap .left_content .tab_slide.info > p {
  font-size: 14px;
  padding: 0 45px 45px;
  line-height: 30px;
}
.content_wrap .left_content .tab_slide.info > img {
  padding: 30px;
}
.content_wrap .left_content .tab_slide.notice .notice_wrap {
  padding: 30px;
}
.content_wrap .left_content .tab_slide.notice .notice_wrap h3 {
  border-bottom: 2px solid #222;
  padding: 40px 0 10px;
}
.content_wrap .left_content .tab_slide.notice .notice_wrap > p {
  padding-top: 20px;
}
.content_wrap .left_content .tab_slide.notice .notice_wrap > p:first-child {
  font-size: 30px;
}
.content_wrap .left_content .tab_slide.notice .notice_wrap > p:first-child::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  background-color: #222;
}
.content_wrap .left_content .tab_slide.notice .notice_wrap > p:first-child:hover::after {
  width: 108px;
  transition: all 0.5s;
}
.content_wrap .left_content .tab_slide.review {
  padding: 30px;
  background-color: #fff;
  border: 1px solid #eee;
}
.content_wrap .left_content .tab_slide.review .front_review {
  width: 100%;
  height: auto;
  background-color: #efe8da;
  padding: 10px;
  margin-bottom: 20px;
}
.content_wrap .left_content .tab_slide.review .front_review .top_review {
  display: flex;
  justify-content: space-between;
}
.content_wrap .left_content .tab_slide.review .front_review .top_review .star_wrap {
  display: flex;
}
.content_wrap .left_content .tab_slide.review .front_review .top_review .star_wrap > ul {
  display: flex;
}
.content_wrap .left_content .tab_slide.review .front_review .top_review .star_wrap .review_name {
  font-size: 13px;
  color: #999;
  padding: 0 10px;
}
.content_wrap .left_content .tab_slide.review .front_review .top_review > p {
  font-size: 13px;
  color: #999;
}
.content_wrap .left_content .tab_slide.review .front_review .bottom_review {
  padding: 10px 0;
  overflow: hidden;
}
.content_wrap .left_content .tab_slide.review .front_review .bottom_review > p {
  width: 600px;
  float: left;
}
.content_wrap .left_content .tab_slide.review .front_review .bottom_review > img {
  width: 80px;
  float: right;
}
.content_wrap .left_content .tab_slide.review .review_form input,
.content_wrap .left_content .tab_slide.review .review_form select {
  border: none;
  outline: none;
  background-color: #eee;
  width: 200px;
  height: 30px;
  margin: 5px 0;
}
.content_wrap .left_content .tab_slide.review .review_form #comment-input {
  width: 650px;
  height: 150px;
  border: none;
  outline: none;
  resize: none;
  background-color: #eee;
}
.content_wrap .left_content .tab_slide.review .review_form #submit {
  width: 100px;
  height: 50px;
  font-size: 15px;
  border: none;
  background-color: #efe8da;
  cursor: pointer;
  float: right;
}
.content_wrap .left_content .tab_slide.review .review_form .rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 20px;
  justify-content: flex-end;
  text-align: center;
}
.content_wrap .left_content .tab_slide.review .review_form .rating input {
  display: none;
}
.content_wrap .left_content .tab_slide.review .review_form .rating label {
  color: #ccc;
  cursor: pointer;
}
.content_wrap .left_content .tab_slide.review .review_form .rating label:hover,
.content_wrap .left_content .tab_slide.review .review_form .rating label:hover ~ label {
  color: #fc0;
}
.content_wrap .left_content .tab_slide.review .review_form .rating :checked ~ label {
  color: #f90;
}
.content_wrap .left_content .tab_slide.review #comment-count {
  font-size: 30px;
  margin-bottom: 15px;
  border-bottom: 3px solid #222;
}
.content_wrap .left_content .tab_slide.review #comments {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.content_wrap .left_content .tab_slide.review #comments .eachComment {
  width: 100%;
  height: auto;
  background-color: #efe8da;
  padding: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}
.content_wrap .left_content .tab_slide.review #comments .eachComment .top_review {
  display: flex;
  justify-content: space-between;
}
.content_wrap .left_content .tab_slide.review #comments .eachComment .top_review .star_wrap {
  display: flex;
}
.content_wrap .left_content .tab_slide.review #comments .eachComment .name {
  font-size: 13px;
  color: #999;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.content_wrap .left_content .tab_slide.review #comments .eachComment .inputValue {
  width: 600px;
  padding-top: 10px;
}
.content_wrap .left_content .tab_slide.review #comments .eachComment .time {
  font-size: 13px;
  color: #999;
}
.content_wrap .left_content .tab_slide.review #comments .eachComment .deleteComment {
  margin-top: 20px;
  border: none;
  outline: none;
  color: #222;
  cursor: pointer;
  float: right;
}
.content_wrap .left_content .tab_slide.review .review_swiper {
  padding: 20px 0;
}
.content_wrap .left_content .tab_slide.review .review_swiper ul li img {
  width: 120px;
  -webkit-filter: brightness(70%);
}
.content_wrap .left_content .tab_slide.review .review_swiper ul li img:hover {
  -webkit-filter: brightness(110%);
}
.content_wrap .right_content {
  position: fixed;
  top: 80px;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 44.2%;
  z-index: 5;
  height: calc(100vh - 80px);
}
.content_wrap .right_content::-webkit-scrollbar {
  display: none;
}
.content_wrap .right_content .right_wrap {
  position: relative;
  width: 600px;
  height: auto;
  transition: 0.3s all ease;
  background-color: #fff;
}
.content_wrap .right_content .right_wrap .content_info {
  padding: 60px 0 60px 50px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.content_wrap .right_content .right_wrap .content_info h3 {
  font-size: 20px;
}
.content_wrap .right_content .right_wrap .content_info > p {
  font-size: 24px;
  padding-bottom: 20px;
}
.content_wrap .right_content .right_wrap .content_info > span {
  font-size: 20px;
  font-weight: 500;
}
.content_wrap .right_content .right_wrap .content_info .color_option {
  padding-top: 20px;
}
.content_wrap .right_content .right_wrap .content_info .color_option > li {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}
.content_wrap .right_content .right_wrap .content_info .color_option > li.click {
  border: 1px solid #222;
}
.content_wrap .right_content .right_wrap .content_info .color_option .butter {
  background-color: #ffe194;
}
.content_wrap .right_content .right_wrap .content_info .color_option .white {
  background-color: #daf5ff;
}
.content_wrap .right_content .right_wrap .content_info .color_option .green {
  background-color: #41644a;
}
.content_wrap .right_content .right_wrap .content_info .color_option .color_box {
  width: 100%;
  padding-top: 10px;
}
.content_wrap .right_content .right_wrap .another_product {
  height: 293px;
  padding: 55px 0px 20px 50px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}
.content_wrap .right_content .right_wrap .another_product > p {
  padding-bottom: 20px;
}
.content_wrap .right_content .right_wrap .another_product a {
  overflow: hidden;
}
.content_wrap .right_content .right_wrap .another_product a img {
  width: 150px;
  height: 150px;
  border: 1px solid #eee;
  float: left;
}
.content_wrap .right_content .right_wrap .another_product a:hover img {
  border: 1px solid #222;
  transition: all 0.3s;
}
.content_wrap .right_content .right_wrap .another_product a .switch_txt {
  float: left;
  padding: 100px 20px 0;
}
.content_wrap .right_content .right_wrap .another_product a .switch_txt > p {
  font-size: 18px;
  font-weight: bold;
}
.content_wrap .right_content .right_wrap .delivery_notice {
  height: 110px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 20px 0 20px 50px;
  font-size: 13px;
}
.content_wrap .right_content .right_wrap .delivery_notice p {
  margin-right: 20px;
  font-weight: 500;
}
.content_wrap .right_content .right_wrap .delivery_notice .deli_fee {
  display: flex;
}
.content_wrap .right_content .right_wrap .delivery_notice .card_benefit {
  display: flex;
  margin-top: 10px;
}
.content_wrap .right_content .right_wrap .delivery_notice .card_benefit > span {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 18px;
  text-align: center;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
}
.content_wrap .right_content .right_wrap .total_price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.content_wrap .right_content .right_wrap .total_price .qty {
  display: flex;
}
.content_wrap .right_content .right_wrap .total_price .qty input {
  width: 36px;
  height: 36px;
  border: 1px solid #eee;
  outline: none;
  text-align: center;
}
.content_wrap .right_content .right_wrap .total_price .qty .pm {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #eee;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}
.content_wrap .right_content .right_wrap .total_price .qty .plus {
  border-left: none;
}
.content_wrap .right_content .right_wrap .total_price .qty .minus {
  border-right: none;
}
.content_wrap .right_content .right_wrap .add_btn {
  overflow: hidden;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.content_wrap .right_content .right_wrap .add_btn .purchase_btn {
  width: 50%;
  height: 70px;
  float: left;
  background-color: #efe8da;
}
.content_wrap .right_content .right_wrap .add_btn .cart_btn {
  width: 50%;
  height: 70px;
  float: left;
}
.content_wrap .right_content .right_wrap .acc_menu {
  height: 100%;
}
.content_wrap .right_content .right_wrap .acc_menu .accordion {
  height: 85px;
  line-height: 85px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-left: 20px;
  cursor: pointer;
}
.content_wrap .right_content .right_wrap .acc_menu .accordion.active, .content_wrap .right_content .right_wrap .acc_menu .accordion.accordion:hover {
  background-color: #efe8da;
  transition: all 0.3s;
}
.content_wrap .right_content .right_wrap .acc_menu .panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 13px;
}
.content_wrap .right_content .right_wrap .acc_menu .panel:last-child {
  margin-bottom: 50px;
}
.content_wrap .right_content .right_wrap .acc_menu .panel > p {
  height: 100%;
  padding: 15px;
}

/* -------------top_btn--------------- */
.buttons {
  position: fixed;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  text-align: center;
  z-index: 50;
}
.buttons > div {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #222;
  padding: 5px;
  color: #efe8da;
  font-size: 25px;
}
.buttons > div.history_btn {
  margin-bottom: 10px;
}
.buttons > div:hover {
  background-color: #fd8234;
  transition: all 0.3s;
}

/* -------------header--------------- */
/* -------------header--------------- *//*# sourceMappingURL=detail.css.map */