@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222;
    display: block;
    width: 100%;
}

img {
    display: block;
    width: 100%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #fff;
    opacity: 0.6;
}
.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
    opacity: 1;
    transition: all 0.3s;
}

.title {
    font: {
        size: 28px;
        weight: 500;
    }
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex_style {
    display: flex;
    align-items: center;
}

@mixin line($height) {
    line-height: $height;
    text-align: center;
}
$color: #fd8234;

/* -------------header--------------- */
.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    @include size(100%, 80px);
    background-color: transparent;
    z-index: 999;

    font: {
        size: 15px;
    }

    .header_inner {
        @include size(100%, 80px);
        @include flex_style();
        padding: 0 25px;
        justify-content: space-between;

        ul {
            li {
                &:hover {
                    > a {
                        color: #fd8234;
                        transition: all 0.3s;
                    }
                }
            }
        }

        .header_left {
            position: relative;
            @include flex_style();

            .logo {
                width: 52px;
                margin-right: 35px;
            }
            .lnb {
                > ul {
                    @include flex_style();
                    height: 80px;

                    > li {
                        height: 100%;
                        line-height: 80px;
                    }

                    .menu {
                        &:hover {
                            .aside {
                                left: 0;
                                transition: all 0.3s;
                            }
                        }
                        .aside {
                            position: fixed;
                            top: 80px;
                            left: -435px;
                            background-color: #fff;
                            height: calc(100vh - 80px);
                            color: #261c13;
                            font-family: 'Noto Sans KR', sans-serif;
                            z-index: 1000;
                            font: {
                                size: 14px;
                                weight: 300;
                            }

                            li {
                                &:hover {
                                    background-color: #efe8da;
                                    transition: all 0.3s;
                                }
                            }

                            .top_lnb {
                                height: 60px;
                                line-height: 60px;

                                ul {
                                    @include flex_style();

                                    li {
                                        width: 50%;
                                        padding: 0 20px;
                                        border-bottom: 1px solid #eee;
                                        margin-right: 0;
                                    }
                                }
                            }
                            .bottom_lnb {
                                li {
                                    height: 60px;
                                    width: 435px;
                                    padding: 0 20px;
                                    line-height: 60px;
                                    margin-right: 0;
                                    border-bottom: 1px solid #eee;
                                }
                            }
                        }
                    }

                    .brand_story {
                        position: relative;

                        &:hover {
                            .story_box {
                                visibility: visible;
                                opacity: 1;
                                transition: all 0.3s;
                            }
                        }

                        .story_box {
                            visibility: hidden;
                            opacity: 0;

                            ul {
                                position: fixed;
                                top: 80px;
                                left: 0;
                                @include size(100%, 60px);
                                @include line(60px);
                                display: flex;
                                background-color: #fff;
                                border-bottom: 1px solid #ccc;
                                padding-left: 184px;
                            }
                        }
                    }

                    li {
                        margin-right: 35px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .header_right {
            @include flex_style();

            ul {
                @include flex_style();

                li {
                    margin-right: 35px;

                    &:last-child {
                        margin-right: 0;
                    }

                    &.search_icon {
                        position: relative;
                        @include size(160px, 25px);
                        border-radius: 20px;
                        background-color: $color;

                        input {
                            background-color: $color;
                            border: none;
                            outline: none;
                            @include size(130px, 25px);
                            border-radius: 20px;
                            padding-left: 15px;
                        }

                        button {
                            position: absolute;
                            top: 5px;
                            right: 7px;
                            background-color: $color;
                            border: none;
                            outline: none;
                            border-radius: 20px;
                            cursor: pointer;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    &.is-sticky {
        position: fixed;
        box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        animation: slideDown 0.35s ease-out;
    }
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/* -------------main_visual--------------- */
.main_visual {
    @include size(100%, 100vh);
    max-width: 100%;
    background-color: #eee;

    img {
        @include size(100%, 100vh);
    }
    .main_swiper {
        @include size(100%, 100%);

        .swiper-slide {
            @include flex_style();
            text-align: center;
            font-size: 18px;
            background: #fff;
            justify-content: center;
        }

        .swiper-pagination {
            .swiper-pagination-bullet {
                @include size(10px, 10px);
            }
            .swiper-pagination-bullet-active {
                background-color: #fff;
            }
            .swiper-pagination-bullet:hover {
                transform: scale(1.2);
                transition: all 0.3s;
            }
        }
    }
}

/* -------------new_arrivals--------------- */
.new_arrivals {
    @include size(100%, 600px);
    background-color: #f8f8f8;

    p.title {
        padding: 75px 0 10px;
    }

    .new_swiper {
        @include size(1180px, 450px);
        margin: 0 auto;
        ul {
            li {
                @include flex_style();
                justify-content: space-between;

                a {
                    position: relative;
                    @include size(360px, 360px);
                    overflow: hidden;

                    .txt_box {
                        @include size(100%, 75px);
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background-color: rgba(255, 255, 255, 0.4);
                        padding: 15px 15px;

                        p {
                            &:first-child {
                                font-size: 12px;
                                margin-bottom: 10px;
                            }
                            &:last-child {
                                font: {
                                    size: 13px;
                                    weight: bold;
                                }
                            }
                        }
                    }

                    &:hover {
                        img {
                            transform: scale(1.3);
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
        .swiper-pagination {
            position: absolute;
            bottom: 0;
            .swiper-pagination-bullet {
                @include size(393px, 7px);
                background-color: $color;
                border-radius: 0;
                margin: 0;
                transition: all 0.5s ease-in-out;
            }
        }
    }
}

/* -------------best--------------- */
.best {
    @include size(100%, 685px);
    background-color: #f8f8f8;
    margin-bottom: 50px;

    p.title {
        padding: 75px 0 20px;
    }

    .best_swiper {
        @include size(1180px, 500px);
        margin: 0 auto;

        ul {
            align-items: center;

            li {
                @include flex_style();
                gap: 0;
                width: 340px !important;

                &.swiper-slide-next {
                    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
                    @include size(500px !important, 458px);
                    z-index: 3;

                    a {
                        @include size(100%, 100%);
                        .txt_box {
                            display: block;
                        }

                        &::before {
                            content: '';
                            display: none;
                        }
                    }
                    img {
                        @include size(500px, 458px);
                        transform: scale(1.2);
                        transition: all 0.7s;
                    }
                }
                a {
                    position: relative;
                    @include size(340px, 340px);
                    overflow: hidden;

                    &:nth-child(2) {
                        @include size(500px, 458px);
                    }

                    .txt_box {
                        position: absolute;
                        @include size(100%, 75px);
                        bottom: 0;
                        left: 0;
                        background-color: rgba(255, 255, 255, 0.4);
                        padding: 15px 15px;
                        display: none;

                        p {
                            &:first-child {
                                font-size: 12px;
                                margin-bottom: 10px;
                            }
                            &:last-child {
                                font: {
                                    size: 13px;
                                    weight: bold;
                                }
                            }
                        }
                    }
                    // &::before {
                    //     content: '';
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     @include size(340px, 340px);
                    //     background: rgba(34, 34, 34, 0.4);
                    //     display: block;
                    // }
                }
            }
        }
    }
}

/* -------------best--------------- */
.issue_my_area {
    height: 700px;
    .title {
        font-family: 'Noto Sans KR', sans-serif;
        padding: 75px 0 30px;
    }
    .issue_swiper {
        @include size(1180px, 500px);

        .living_main {
            @include size(40%, 460px);
            position: relative;
            display: flex;
            float: left;

            li {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .living_img {
            @include size(60%, 460px);
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            justify-content: space-around;

            li {
                height: 220px;
                a {
                    img {
                        @include size(220px, 220px);
                    }
                }
            }
        }
    }
}
/* -------------best--------------- */
