@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    &::-webkit-scrollbar {
        width: 12px;
    }
    &::-webkit-scrollbar-thumb {
        background: #fd8234; /* 스크롤바 색상 */
    }

    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1); /*스크롤바 뒷 배경 색상*/
    }
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222;
    display: block;
    width: 100%;
}

img {
    display: block;
    width: 100%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #fff;
    opacity: 0.6;
}
.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
    opacity: 1;
    transition: all 0.3s;
}

.title {
    font: {
        size: 28px;
        weight: 500;
    }
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
}

.txt_box {
    position: absolute;
    width: 100%;
    height: 75px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 15px 15px;

    p {
        &:first-child {
            font-size: 12px;
            margin-bottom: 10px;
        }
        &:last-child {
            font: {
                size: 13px;
                weight: bold;
            }
        }
    }
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex_style {
    display: flex;
    align-items: center;
}

@mixin line($height) {
    line-height: $height;
    text-align: center;
}
$color: #fd8234;

/* -------------header--------------- */
.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    @include size(100%, 80px);
    background-color: transparent;
    z-index: 999;

    font: {
        size: 15px;
    }

    .header_inner {
        @include size(100%, 80px);
        @include flex_style();
        padding: 0 25px;
        justify-content: space-between;

        ul {
            li {
                &:hover {
                    > a {
                        color: #fd8234;
                        transition: all 0.3s;
                    }
                }
            }
        }

        .header_left {
            position: relative;
            @include flex_style();

            .logo {
                width: 52px;
                margin-right: 35px;
            }
            .lnb {
                > ul {
                    @include flex_style();
                    height: 80px;

                    > li {
                        height: 100%;
                        line-height: 80px;
                    }

                    .menu {
                        &:hover {
                            .aside {
                                left: 0;
                                transition: all 0.3s;
                            }
                        }
                        .aside {
                            position: fixed;
                            top: 80px;
                            left: -435px;
                            background-color: #fff;
                            height: calc(100vh - 80px);
                            color: #261c13;
                            font-family: 'Noto Sans KR', sans-serif;
                            z-index: 1000;
                            font: {
                                size: 14px;
                                weight: 300;
                            }

                            li {
                                &:hover {
                                    background-color: #efe8da;
                                    transition: all 0.3s;
                                }
                            }

                            .top_lnb {
                                height: 60px;
                                line-height: 60px;

                                ul {
                                    @include flex_style();

                                    li {
                                        width: 50%;
                                        padding: 0 20px;
                                        border-bottom: 1px solid #eee;
                                        margin-right: 0;
                                    }
                                }
                            }
                            .bottom_lnb {
                                li {
                                    height: 60px;
                                    width: 435px;
                                    padding: 0 20px;
                                    line-height: 60px;
                                    margin-right: 0;
                                    border-bottom: 1px solid #eee;
                                }
                            }
                        }
                    }

                    .brand_story {
                        position: relative;

                        &:hover {
                            .story_box {
                                visibility: visible;
                                opacity: 1;
                                transition: all 0.3s;
                            }
                        }

                        .story_box {
                            visibility: hidden;
                            opacity: 0;

                            ul {
                                position: fixed;
                                top: 80px;
                                left: 0;
                                @include size(100%, 60px);
                                @include line(60px);
                                display: flex;
                                background-color: #fff;
                                border-bottom: 1px solid #eee;
                                padding-left: 184px;
                            }
                        }
                    }

                    li {
                        margin-right: 35px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .header_right {
            @include flex_style();

            ul {
                @include flex_style();

                li {
                    margin-right: 35px;

                    &:last-child {
                        margin-right: 0;
                    }

                    &.search_icon {
                        position: relative;
                        @include size(160px, 25px);
                        border-radius: 20px;
                        background-color: $color;

                        input {
                            background-color: $color;
                            border: none;
                            outline: none;
                            @include size(130px, 25px);
                            border-radius: 20px;
                            padding-left: 15px;
                        }

                        button {
                            position: absolute;
                            top: 5px;
                            right: 7px;
                            background-color: $color;
                            border: none;
                            outline: none;
                            border-radius: 20px;
                            cursor: pointer;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    &.is-sticky {
        position: fixed;
        box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        animation: slideDown 0.35s ease-out;
    }
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/* -------------main_visual--------------- */
.main_visual {
    @include size(100%, 100vh);
    max-width: 100%;
    background-color: #eee;

    img {
        @include size(100%, 100vh);
    }
    .main_swiper {
        @include size(100%, 100%);

        .swiper-slide {
            @include flex_style();
            text-align: center;
            font-size: 18px;
            background: #fff;
            justify-content: center;
        }

        .swiper-pagination {
            .swiper-pagination-bullet {
                @include size(10px, 10px);
            }
            .swiper-pagination-bullet-active {
                background-color: #fff;
            }
            .swiper-pagination-bullet:hover {
                transform: scale(1.2);
                transition: all 0.3s;
            }
        }
    }
}

/* -------------new_arrivals--------------- */
.new_arrivals {
    @include size(100%, 600px);
    background-color: #f8f8f8;

    p.title {
        padding: 75px 0 10px;
    }

    .new_swiper {
        @include size(1180px, 450px);
        margin: 0 auto;
        ul {
            li {
                @include flex_style();
                justify-content: space-between;

                a {
                    position: relative;
                    @include size(360px, 360px);
                    overflow: hidden;

                    &:hover {
                        img {
                            transform: scale(1.3);
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
        .swiper-pagination {
            position: absolute;
            bottom: 0;
            .swiper-pagination-bullet {
                @include size(393px, 7px);
                background-color: $color;
                border-radius: 0;
                margin: 0;
                transition: all 0.5s ease-in-out;
            }
        }
    }
}

/* -------------best--------------- */
.best {
    @include size(100%, 685px);
    background-color: #f8f8f8;
    margin-bottom: 50px;

    p.title {
        padding: 75px 0 20px;
    }

    .best_swiper {
        @include size(1180px, 500px);
        margin: 0 auto;

        ul {
            align-items: center;

            li {
                @include flex_style();
                gap: 0;
                width: 340px !important;

                &.swiper-slide-next {
                    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
                    @include size(500px !important, 458px);
                    z-index: 3;

                    a {
                        @include size(100%, 100%);
                        .txt_box {
                            display: block;
                        }

                        &::before {
                            content: '';
                            display: none;
                        }
                    }
                    img {
                        @include size(500px, 458px);
                        transform: scale(1.2);
                        transition: all 0.7s;
                    }
                }
                a {
                    position: relative;
                    @include size(340px, 340px);
                    overflow: hidden;

                    &:nth-child(2) {
                        @include size(500px, 458px);
                    }

                    .txt_box {
                        display: none;
                    }
                }
            }
        }
    }
}

/* -------------issue_my_area--------------- */
.issue_my_area {
    height: 700px;
    margin-bottom: 50px;

    .title {
        font-family: 'Noto Sans KR', sans-serif;
        padding: 55px 0 30px;
    }

    .issue_swiper {
        position: relative;
        @include size(1180px, 550px);

        .slide_tit {
            display: flex;
            justify-content: center;
            margin: 25px 0;
            font-family: 'Noto Sans KR', sans-serif;

            li {
                display: flex;
                align-items: center;
                @include size(100px, 7px);
                border-radius: 0;
                margin: 0;
                background: transparent;

                &.swiper-pagination-bullet-active {
                    transition: all 0.5s ease-in-out;
                    color: #000000;
                    background: $color;
                }
                &:nth-child(1)::after {
                    content: '거실';
                    color: #222;
                    padding: 0px 34px 10px;
                    height: 55px;
                }
                &:nth-child(2)::after {
                    content: '다이닝';
                    color: #222;
                    padding: 0px 26px 10px;
                    height: 55px;
                }
                &:nth-child(3)::after {
                    content: '침실';
                    color: #222;
                    padding: 0px 34px 10px;
                    height: 55px;
                }
                &:nth-child(4)::after {
                    content: '테이블';
                    color: #222;
                    padding: 0px 26px 10px;
                    height: 55px;
                }
            }
        }

        .left_img {
            @include size(40%, 460px);
            position: relative;
            display: flex;
            float: left;

            li {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .right_img {
            @include size(60%, 460px);
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            justify-content: space-around;

            li {
                position: relative;
                height: 220px;
                cursor: pointer;
                overflow: hidden;

                .txt_box {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-end;
                    font-size: 12px;
                    padding: 10px 15px;
                    bottom: -75px;

                    p {
                        &:first-child {
                            margin-bottom: 0;
                        }
                    }
                }

                &:hover {
                    border-radius: 20px;
                    box-shadow: 0 5px 14px #fd813438;
                    transition: all 0.5s;

                    .txt_box {
                        bottom: 0;
                        transition: all 0.5s;
                    }
                }

                img {
                    @include size(220px, 220px);
                }
            }
        }
    }
}

/* -------------brand_history--------------- */
.brand_history {
    @include size(100%, 800px);
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 50px 0;

    .float_wrap {
        width: 1420px;
        margin: 0 auto;
        .left_history {
            width: 50%;
            float: left;

            .left_box {
                @include size(700px, 700px);
                overflow: hidden;

                &:hover {
                    img {
                        transform: scale(1.1);
                        transition: all 1s;
                    }
                }
            }
        }
        .right_history {
            @include size(50%, auto);
            float: left;
            padding: 0 100px;

            .right_box {
                overflow: hidden;

                .title {
                    font-family: 'Noto Sans KR', sans-serif;
                    padding: 78px 0 100px;
                    text-align: left;
                }

                h1 {
                    margin-bottom: 40px;
                }
                .story_box {
                    font-family: 'Noto Sans KR', sans-serif;
                    margin: 20px 0;

                    p {
                        padding: 0 0 30px;
                    }
                }
                .story_btn {
                    @include size(180px, 50px);
                    @include line(50px);
                    background-color: #efe8da;
                    margin-bottom: 50px;

                    &:hover {
                        background-color: #261c13;
                        a {
                            color: #fff;
                        }
                        transition: all 0.3s;
                    }
                }
            }
        }
    }
}
/* -------------instagram--------------- */
.instagram {
    @include size(100%, 650px);

    .title {
        padding: 70px 0 30px;
    }

    a {
        p {
            text-align: center;
            padding-bottom: 65px;
        }
    }

    .insta_box {
        position: relative;

        .roller {
            position: absolute;
            width: 100%;

            ul {
                @include flex_style();
                flex-flow: row nowrap;
                justify-content: space-between;

                li {
                    @include size(100%, 100%);
                    a {
                        img {
                            @include size(220px, 220px);
                        }
                    }
                }
            }
        }
    }
}

/* -------------footer--------------- */
.footer {
    @include size(100%, 550px);
    background-color: #261c13;
    color: #fff;

    .footer_box {
        width: 1420px;
        margin: 0 auto;
        padding-top: 60px;

        .top_footer {
            display: flex;
            justify-content: space-between;

            .cs_center {
                p {
                    &:nth-child(1) {
                        font: {
                            size: 20px;
                            weight: bold;
                        }
                    }
                    &:nth-child(2) {
                        font: {
                            size: 30px;
                            weight: bold;
                        }
                        color: $color;
                    }
                    &:nth-child(3) {
                        font: {
                            size: 18px;
                            weight: 300;
                        }
                    }
                }
            }

            .insta_logo {
                i {
                    color: #fff;
                    font-size: 40px;
                }
            }
        }

        .bottom_footer {
            display: flex;
            justify-content: space-between;

            .left_logo {
                padding-top: 150px;
                img {
                    @include size(116px, 135px);
                }
                p {
                    margin-top: 20px;
                }
            }

            .right_info {
                > ul {
                    display: flex;
                    gap: 55px;

                    > li {
                        font-weight: 700;

                        ul {
                            margin-top: 15px;

                            li {
                                padding: 5px 0;
                                font-weight: 300;
                                a {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }

                .right_txt {
                    padding-top: 40px;
                    font-size: 14px;

                    .info_up {
                        display: none;
                    }
                    i {
                        cursor: pointer;
                        padding-left: 5px;
                    }
                }
                .text_box {
                    position: absolute;
                    font-size: 14px;
                    margin-top: 15px;
                    padding: 10px;
                    border-radius: 5px;
                    background-color: $color;
                    opacity: 0;

                    a {
                        display: inline;
                        color: #fff;
                    }
                    &.ani {
                        animation: slideDown 0.35s ease-out;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/* -------------top_btn--------------- */
.buttons {
    position: fixed;
    bottom: 5%;
    right: 5%;
    cursor: pointer;
    text-align: center;
    z-index: 50;

    > div {
        @include size(45px, 45px);
        border-radius: 50%;
        background-color: #222;
        padding: 5px;
        color: #efe8da;
        font-size: 25px;

        &.history_btn {
            margin-bottom: 10px;
        }

        &:hover {
            background-color: $color;
            transition: all 0.3s;
        }
    }

    .history_btn {
        position: relative;

        .shop_history {
            position: absolute;
            top: -500px;
            left: -500px;
            @include size(480px, auto);
            background-color: #fff;
            box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
            display: none;

            h6 {
                color: #222;
                padding: 20px;
            }

            .his_box {
                > p {
                    color: $color;
                    font-size: 14px;
                    text-align: left;
                    padding: 10px 40px;
                }

                ul {
                    li {
                        position: relative;
                        width: 400px;
                        margin: 0 auto;
                        overflow: hidden;

                        a {
                            margin: 20px 0;
                            border: 1px solid #eee;
                            display: flex;

                            > .txt_box {
                                position: relative;
                                @include size(300px, 100px);
                                overflow: hidden;
                                display: flex;
                                flex-wrap: wrap;
                                align-content: center;

                                p {
                                    &:nth-child(1) {
                                        font: {
                                            size: 12px;
                                        }
                                    }
                                    &:nth-child(2) {
                                        font: {
                                            size: 13px;
                                            weight: bold;
                                        }
                                    }
                                }

                                &:hover {
                                    border: 1px solid $color;
                                    transition: all 0.5s;
                                }
                            }

                            img {
                                width: 100px;
                                float: left;
                            }

                            .delet_btn {
                                position: absolute;
                                right: 10px;
                                top: 25px;
                                @include size(20px, 20px);

                                &.active-3 {
                                    transform: rotate(180deg);
                                    transition: all 0.5s;
                                }

                                span {
                                    position: absolute;
                                    display: inline-block;
                                    left: 0;
                                    width: 100%;

                                    &:first-child {
                                        @include size(20px, 2px);
                                        background-color: #222;
                                        top: 0;
                                        transform: translateY(10px) rotate(-45deg);
                                    }
                                    &:last-child {
                                        @include size(20px, 2px);
                                        background-color: #222;
                                        top: 10px;
                                        transform: translateY(0) rotate(45deg);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
