@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222;
    display: block;
    width: 100%;
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 30px 0 50px;
}

input {
    outline: none;
    background-color: #f8f8f8;
    border: 1px solid #eee;
}

.container button {
    background-color: #fff;
    cursor: pointer;
    font-size: 18px;
    color: #222;
}

/* -------------header--------------- */
.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 80px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    z-index: 999;
}
.header .header_inner {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    justify-content: space-between;
}
.header .header_inner .header_left {
    position: relative;
    display: flex;
    align-items: center;
}
.header .header_inner .header_left .logo {
    width: 52px;
    margin-right: 35px;
}
.header .header_inner .header_left .lnb ul.menu_list {
    display: flex;
    align-items: center;
}
.header .header_inner .header_left .lnb ul.menu_list li {
    margin-right: 35px;
}
.header .header_inner .header_left .lnb ul.menu_list li:last-child {
    margin-right: 0;
}
.header .header_inner .header_right {
    display: flex;
    align-items: center;
}
.header .header_inner .header_right ul {
    display: flex;
    align-items: center;
}
.header .header_inner .header_right ul li {
    margin-right: 35px;
}
.header .header_inner .header_right ul li:last-child {
    margin-right: 0;
}
.header .header_inner .header_right ul li.search_icon {
    position: relative;
    width: 160px;
    height: 25px;
    border-radius: 20px;
    background-color: #fd8234;
}
.header .header_inner .header_right ul li.search_icon input {
    background-color: #fd8234;
    border: none;
    outline: none;
    width: 130px;
    height: 25px;
    border-radius: 20px;
    padding-left: 15px;
}
.header .header_inner .header_right ul li.search_icon button {
    position: absolute;
    top: 5px;
    right: 7px;
    background-color: #fd8234;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
}
.header.is-sticky {
    position: fixed;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    animation: slideDown 0.35s ease-out;
    border: none;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.header_inner ul li:hover a {
    color: #fd8234;
    transition: all 0.3s;
}

/* -------------login--------------- */
.login_box {
    width: 500px;
    height: 100%;
    border: 1px solid #eee;
    margin: 170px auto;
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.1);
}

.login_box .container {
    padding: 0 99px 70px;
}

.container ul li {
    position: relative;
    overflow: hidden;
}

.container ul li label {
    display: block;
    margin-bottom: 10px;
}

.container ul li input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 25px;
}

.container ul li:nth-child(3) button {
    margin-top: 15px;
    border: none;
    background-color: #efe8da;
}

.container ul li button {
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    border: 1px solid #eee;
}

.container ul li button:hover {
    background-color: #261c13;
    color: #fff;
    transition: all 0.5s;
}

.container ul li:last-child {
    display: flex;
    font-size: 12px;
    text-align: center;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel p {
    font-size: 12px;
    padding-bottom: 10px;
}

.container ul li .cap_btn {
    position: absolute;
    top: 45px;
    right: 5px;
    font-size: 12px;
    color: green;
}
